
<div class="container">
<h1 class="banner">Stupid Coach Enterprises</h1>
</div>

<div class="container">
<p><%= @mymessage %> <br>Me</p>
<p id="coach"><%= @stupidAnswer %> <br>Your Coach</p>
<%= link_to "Ask a new Question", "ask" %>

</div>